<div class="hero-unit">
  <h1>Composition</h1>
  <p>
    This is a simple application to demonstrate the power of Chaplin with
    the composer.
  </p>
  <button class="btn btn-large btn-primary">See more</button>
</div>
